extends ../site_container

block header
	link(rel='stylesheet' href='/css/audience/thanks/thanks.css')

block contenter
	.voices-audience-thanks-top-placeholder
	.voices-audience-thanks-container
		.voices-audience-thanks-note-container
			img.voices-audience-thanks-note-image(src='/images/audience/thanks/note.jpg' alt='Thank you note')
		.voices-audience-thanks-text
			.voices-audience-thanks-text-row
				.voices-audience-thanks-text-message
					| For their generous contributions in support of my trip to Ghana
				.voices-audience-thanks-text-names
					.voices-audience-thanks-text-names-col
						.voices-audience-thanks-text-names-row Carye Chapman
						.voices-audience-thanks-text-names-row David Lam
						.voices-audience-thanks-text-names-row Haisheng Chen
						.voices-audience-thanks-text-names-row Haitao Lin
						.voices-audience-thanks-text-names-row Shiqiao
						.voices-audience-thanks-text-names-row The Chi family
						.voices-audience-thanks-text-names-row The England family
					.voices-audience-thanks-text-names-col
						.voices-audience-thanks-text-names-row Harvey Lam
						.voices-audience-thanks-text-names-row Lisheng Yan 
						.voices-audience-thanks-text-names-row Tao Chen
						.voices-audience-thanks-text-names-row Locki Yan
						.voices-audience-thanks-text-names-row Xiaohua Lin
						.voices-audience-thanks-text-names-row Xiaoli Chen
						.voices-audience-thanks-text-names-row Xiaoqin Chen
					.voices-audience-thanks-text-names-col
						.voices-audience-thanks-text-names-row Madeleine Kihlstrom
						.voices-audience-thanks-text-names-row Mandy Lin 
						.voices-audience-thanks-text-names-row Michelle Shang
						.voices-audience-thanks-text-names-row Qianwen Hu
						.voices-audience-thanks-text-names-row Xiaoxing Lin
						.voices-audience-thanks-text-names-row Xiaoxiong Chen
						.voices-audience-thanks-text-names-row
			.voices-audience-thanks-text-row
				.voices-audience-thanks-text-message
					| For providing the resources, guidance, and support for the creation of the audio documentary
				.voices-audience-thanks-text-names
					.voices-audience-thanks-text-names-col
						.voices-audience-thanks-text-names-row John Lee
						.voices-audience-thanks-text-names-row Jonah Willihnganz
						.voices-audience-thanks-text-names-row Christy Hartman
					.voices-audience-thanks-text-names-storytelling-logo-container
						img.voices-audience-thanks-text-names-storytelling-logo(src='/images/audience/thanks/stanford_storytelling.png' alt='Stanford Storytelling logo')
			.voices-audience-thanks-text-row
				.voices-audience-thanks-text-message For his incredible work in building this website
				.voices-audience-thanks-text-names
					.voices-audience-thanks-text-names-col
						.voices-audience-thanks-text-names-row Max Wang