mixin post_form(post_url, placeholders, post)
    form.form-horizontal(action=post_url method='post')
        include bootstrap-form-field
        - var post = post ? post : {info: {title: '', description : '', text: '', tags: '', location: ''}, media: {photo: [], audio: [], video: []}};
        +form_field('Title', 'col-xs-6', 'text', post.info.title, placeholders.title, '')
        +form_field('Description', 'col-xs-10', 'text', post.info.description, placeholders.description, '')
        +form_field('Text', 'col-xs-10', 'textarea', post.info.text, placeholders.text, '15')
        .form-group
            label.col-xs-2.control-label Media tags:
            .col-xs-3
                .form-control ##image##
            .col-xs-3
                .form-control ##audio##
            .col-xs-3
                .form-control ##video##
            .col-xs-2
            .col-xs-10
                p.help-block
                    | Insert these media tags in the places where you want media in your story, and after you hit submit, you will be taken to a page to upload the media content.
        +form_field('Tags', 'col-xs-10', 'text', post.info.tags, placeholders.tags, '')
        +form_field('Location', 'col-xs-10', 'text', post.info.location, placeholders.location, '')
        input(type='hidden' id='voices-image0-url' name='image0' value='')
        .form-group
            label.col-xs-2.control-label This blog post is a profile
            .col-xs-2
                //- TODO: Remove checkbox
                input.checkbox(type='checkbox' name='isProfile' checked=(post.isProfile ? 'checked' : ''))
        .form-group
            label.col-xs-2.control-label Date
            .col-xs-4
                //- TODO: The splitting thing is pretty hacky. Find other options? 
                //- Check: http://www.w3schools.com/jsref/jsref_obj_date.asp
                //- And: http://www.w3.org/TR/html-markup/input.datetime-local.html
                input.form-control(type='datetime-local' name='date' value=post.date.toISOString().split('.')[0])
            p.help-block Don't worry, I won't actually use the specific time, just the date and month
        +form_field('', '', 'submit', '', '', '')