mixin post_form(post_url, placeholders, post)
	form.form-horizontal(action=""+post_url method='post')
		include bootstrap-form-field
		- var post = post ? post : {info: {title: '', description : '', text: '', tags: '', location: ''}, media: {photo: [], audio: [], video: []}};
		+form_field('Title', 'col-xs-6', 'text', post.info.title, placeholders.title, '')
		+form_field('Description', 'col-xs-10', 'text', post.info.description, placeholders.description, '')
		+form_field('Story', 'col-xs-10', 'textarea', post.info.text, placeholders.story, 15)
		+form_field('Tags', 'col-xs-10', 'text', post.info.tags, placeholders.tags, '')
		+form_field('Location', 'col-xs-10', 'text', post.info.location, placeholders.location, '')
		.form-group
			label.col-xs-2.control-label Images
			.col-xs-10#voices-create-images
				input.form-control(type='file' id='voices-image0' name='image0')
				p#voices-image-status0 Test
				#voices-image-preview0(style='border:1px solid gray; width:300px;')
					img(src='/images/default.jpg' style='width:295px;')
		input(type='hidden' id='voices-image0-url' name='image0' value='')
		+form_field('', '', 'submit', '', '', '')
		//- jQuery is loaded in header
		script(type='text/javascript' src='//cdn.jsdelivr.net/lodash/2.4.1/lodash.backbone.min.js')
		script(type='text/javscript' src='/js/s3upload.js')
		script(type='text/javascript' src='/js/admin/s3_upload.js')