/* Prefix: voices-audience-site-container- */


body {
	/* Font needs to be changed to Google font */
	font-family: avenir;
	background-color: #eeeeee;
	text-align: center;
	margin: 0 0 0 -1px;
}

.voices-audience-site-container-outside {
	width: 1285px;
	min-height: 768px;

	background-image: url('/images/audience/site-border.png');
	background-repeat: no-repeat;
	text-align: center;
	margin-top: -95px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e0e0e0;
}

.voices-audience-site-container-inside {
	width: 960px;

	display: inline-block;
}