
meta(charset='utf-8')
meta(name='description' content='Voices from Ghana')
meta(name='author' content='Christine Chen')

//- Every page includes Bootstrap CSS and JS and jQuery
//- The title of each page should be manually created 
//- in the template

//- development ------------

//- link(rel='stylesheet' href='css/bootstrap-theme.min.css')
//- link(rel="stylesheet" href="css/bootstrap.min.css")
//- link(rel="stylesheet" href="css/home.css")
link(rel='stylesheet' href='css/site.css')

script(src='js/jquery-1.10.2.js')
//- script(src='js/bootstrap.min.js')
//- End development---------


	link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")


	script(src="//code.jquery.com/jquery-1.11.0.min.js")
	script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")

//link(rel='stylesheet' href='css/home.css')