<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Voices from Ghana: People</title>
	<meta name="description" content="Voices from Ghana">
	<meta name="author" content="Christine Chen">

	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/home.css">

	<script src='javascript/jquery-1.10.2.js'></script>
	<script src='javascript/bootstrap.min.js'></script>

</head>
<body>
	<div class='container-flexible voices-site voices-background'>
		<div class='row'>
			<div class='hidden-xs hidden-sm col-md-3'>
				<img src='' alt='' />
			</div>
			<div class='col-xs-12 col-sm-12 col-md-9 nav'>
				<div class='row'>
					<div class='col-xs-2 col-sm-2 col-md-2'>
						<a id='nav-selected' href=''>home</a>
					</div>
					<div class='col-xs-2 col-sm-2 col-md-2'>
						<a href=''>about</a>
					</div>
					<div class='col-xs-2 col-sm-2 col-md-2'>
						<a href=''>people</a>
					</div>
					<div class='col-xs-2 col-sm-2 col-md-2'>
						<a href=''>photos</a>
					</div>
					<div class='col-xs-2 col-sm-2 col-md-2'>
						<a href=''>thanks</a>
					</div>
				</div>
			</div>
		</div>
		<div id='placeholder'></div>
		<div class='row'>
			<div class='col-md-4'>
				<img src='' alt='' />
			</div>
			<div class='col-md-8'>
				<div class='row voices-recent'>
					<div class='col-xs-6 col-sm-6 col-md-8'>
						<img class='img-responsive' src='' alt='' />
					</div>
					<div class='col-xs-6 col-sm-6 col-md-4 voices-recent-black-background voices-recent-blurb'>
						<div class='voices-recent-h1'>JULY 24</div>
						<div class='voices-recent-h1'>Insert Fantastically Interesting Title Here</div>
						<div>Blurb is super awesome and full of interesting info Blurb is super awesome and full of interesting info Blurb is super awesome and full of interesting info</div>
						<div class='voices-recent-h1'><a id='voices-recent-link' href=''>READ FULL POST ></a></div>
					</div>
				</div>
			</div>
		</div>
		<div id='placeholder'></div>
		<div class='row'>
			<div class='col-md-9'>
				<div class='row'>
					<div class='col-xs-2'>
						<div class='voices-archive-title'></div>
					</div>
					<div class='col-xs-2'>
						<div class='archive-title-words'>PREVIOUS</div>
					</div>
					<div class='col-xs-8 voices-archive-title'></div>
				</div>
				<div class='row'>
					<div class='col-xs-1 voices-blurb-date'>
						<div class='voices-blurb-date-line1'>June</div>
						<div class='voices-blurb-date-line2'>23</div>
					</div>
					<div class='col-xs-6'>
						<img class='voices-blurb-image' src='' alt='' />
					</div>
					<div class='col-xs-5'>
						<div class='voices-blurb-head'>
							Title of blog post filler text interesting stuff
						</div>
						<div class='voices-blurb-subhead'>Accra, Ghana</div>
						<div class='voices-blurb-body'>
							This is going to be a few sentences blurb about the blog post, highlighting some of the things contained within the actual post and the names of people I've interviewed.
						</div>
						<div><a class='voices-blurb-readmore'>[READ MORE]</a></div>
					</div>
				</div>
			</div>
			<div class='col-md-3' id='table-of-contents'>
				<div class='row voices-toc-title'>TABLE OF CONTENTS</div>
				<div class='row voices-toc-entry'></div>
				<div class='row voices-toc-entry'></div>
			</div>
		</div>
	</div>
	<script>
	/*
		$('#table-of-contents').affix({
		    offset: {
		      top: 10
		    }
		  })
	</script>

</body>
</html>