<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Voices from Ghana: People</title>
  <meta name="description" content="Voices from Ghana">
  <meta name="author" content="Christine Chen">

  <link rel="stylesheet" href="css/people-final.css">

  <script src='javascript/cropper.js'></script>
  <script src='javascript/person-box.js'></script>
  <script src="javascript/jquery-1.10.2.js"></script>
  <script src='javascript/interact.js'></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<div class='site-container'>
		<div class='nav'>
			<div>
				VOICES FROM GHANA
			</div>
			<ul>
				<a href='home.html'>
					<li>Home &nbsp&nbsp</li>
				</a>
				<a href='people.html'>
					<li id='nav-selected'>People &nbsp&nbsp</li>
				</a>
				<a href='gallery.html'>
					<li>Gallery &nbsp&nbsp</li>
				</a>
				<a href='archives.html'>
					<li>Archives &nbsp&nbsp</li>
				</a>
				<a href='thanks.html'>
					<li>Thanks &nbsp&nbsp</li>
				</a>
			</ul>
		</div>
		<!--
		<div class='people-top-container'>
			<p class='people-description'>
				Meet the incredible <span id='word-people'>people</span> who have<br>
				lent their <span class='orange'>stories</span>, <span class='orange'>insights</span>, and <span class='orange'>experiences</span> to<br>
				the creation of my audio documentary.
			</p>
		</div>
	-->
		<div class='people-photos'>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
				</div>
			</div>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
					<img class='person-photo' src='images/HelenaO.jpg'/>
					<div class='person-blurb'>
						<div class='person-blurb-name'>HELENA OBENG-ASAMOA</div>
						<p>Title? Short description</p>
					</div>
				</div>
			</div>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
					<img class='person-photo' src='images/BarackO.jpg'/>
					<div class='person-blurb'>
						<div class='person-blurb-name'>BARACK OBAMA</div>
						<p>Title? Short description</p>
					</div>
				</div>
			</div>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
					<img class='person-photo' src='images/ElvisP.jpg'/>
					<div class='person-blurb'>
						<div class='person-blurb-name'>ELVIS PRESLEY</div>
						<p>Title? Short description</p>
					</div>
				</div>
			</div>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
					<img class='person-photo' src='images/BabySleep.jpg'/>
					<div class='person-blurb'>
						<div class='person-blurb-name'>I AM QUITE SLEEPY</div>
						<p>Title? Short description</p>
					</div>
				</div>
			</div>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
					<img class='person-photo' src='images/KimT.png'/>
					<div class='person-blurb'>
						<div class='person-blurb-name'>KIM S. TREE</div>
						<p>Title? Short description</p>
					</div>
				</div>
			</div>
			<div class='person-container-outer'>
				<div class='person-container-inner'>
					<img class='person-photo' src='images/Cow.jpg'/>
					<div class='person-blurb'>
						<div class='person-blurb-name'>ARE YOU A COW?</div>
						<p>Title? Short description</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		(function() {
			var containers = $('.person-container-inner');
			var blurbs = $('.person-blurb');
			var images = $('.person-photo');

			console.log($(containers[0]).height());
			var size = {
				height: $(containers[0]).height() - $(blurbs[0]).height(),
				width: $(containers[0]).width()
			};
			var cropper = new Cropper(size);

			for(var m = 0; m < images.length; m++) {
				var person1 = new PersonBox(containers[m+1], images[m], blurbs[m]);
				cropper.crop(images[m], containers[m])
			}
		})();
	</script>
</body>
</html>