<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Voices from Ghana: People</title>
  <meta name="description" content="Voices from Ghana">
  <meta name="author" content="Christine Chen">

  <link rel="stylesheet" href="timeline-blurbs.css">

  <script src="jquery-1.10.2.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
	<div class='site-container'>
		<div class='timeline-blurb-container'>
			<div class='blurb-container'>
				This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text.
			</div>
			<div class='blurb-container'>
				This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. 
			</div>
			<div class='blurb-container'>
				This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. This is sample text. 
			</div>
		</div>
	</div>

<body>
</body>
</html>