body {
	padding: 0;
	margin: 0;
	font-family: avenir;

	border: 1px solid black;
}

.site-container {
	width: 100%;

	border: 1px solid black;
}

.timeline-blurb-container {
	text-align: center;

	border: 1px solid black;
}

.blurb-container {
	display: inline-block;
	width: 30%;
	height: 14em;
	//background-image: url('photo_placeholder.jpeg');
	overflow: scroll;

	padding: 1em;

	border: 1px solid black;
}

// Look in jQuery UI?