extends ../site_container

block header
	link(rel='stylesheet' href='css/audience/blog/blog.css')

block contenter
	.voices-row.voices-audience-blog-row-1 Test
	.voices-row.voices-audience-blog-row-2 Test