.voices-audience-blog-recent-container
	.voices-audience-blog-recent-image-container
		img#voices-audience-blog-recent-image(src='/images/recent_example.jpg' alt='Image from blog post')
	.voices-audience-blog-recent-sneakpeak-container
		.voices-audience-blog-recent-sneakpeak-date JULY 29
		.voices-audience-blog-recent-sneakpeak-title Insert Fantastically Interesting Title Here
		.voices-audience-blog-recent-sneakpeak-location Accra, Ghana
		.voices-audience-blog-recent-sneakpeak-description Blurb is super awesome and full of interestin info Blurb is super awesome and full of interestin info Blurb is super awesome and full of interestin info 
		.voices-audience-blog-recent-sneakpeak-readmore 
			a(href='') READ FULL POST >