.voices-audience-blog-note-container
	.voices-audience-blog-note-letter-container
		img#voices-audience-blog-note-letter(src='/images/note-handwritten_note.jpg')
	img#voices-audience-blog-note-profile(src='/images/note-profile_pic.png')