.voices-audience-blog-note-container
	.voices-audience-blog-note-letter-container
		img#voices-audience-blog-note-letter(src='/images/audience/blog/handwritten_note.jpg')
	img#voices-audience-blog-note-profile(src='/images/audience/blog/profile_pic.png')