.voices-audience-blog-share-container
    .voices-audience-blog-share-message SHARE WITH:
    .voices-audience-blog-share-facebook
        - var app_id = 692973254128571;
        - var redirect_uri = 'http://www.voicesfromghana.com/home'
        - var href = 'http://www.voicesfromghana.com/home'
        - var display = "popup"
        a(href='https://www.facebook.com/dialog/share?app_id='+app_id+'&redirect_uri='+redirect_uri+"&href="+href+"&display="+display)
            img(src='/images/audience/facebook_logo.png' alt='Facebook logo')
        span.voices-audience-blog-share-facebook-name FACEBOOK
    .voices-audience-blog-share-twitter 
        - var page_url = "www.voicesfromghana.com/home";
        - var default_text = 'Check out Christine\'s blog about her experiences in Ghana';
        a(href="https://twitter.com/share?text=" + default_text + "&page_url=" + page_url)
            img(src='/images/audience/twitter-logo.png' alt='Twitter logo')
        span.voices-audience-blog-share-twitter-name TWITTER