.voices-audience-blog-toc-container
	.voices-audience-blog-toc-title TABLE OF CONTENTS
	each post, index in posts
		if index != 0
			.voices-audience-blog-toc-entry= months[post.timestamp.getMonth()] + ' ' + post.timestamp.getDate() + ': ' +  post.info.title
	.voices-audience-blog-toc-placeholder