#placeholder {
	height: 75px;
}


.voices-site {
	font: avenir;
	font-size: 1.25em;
}

.voices-background {
	padding: 5em 3em 0 3em;
	//background-image: url('../images/KimT.png');
	//background: linear-gradient;
	border: 1px solid black;
}

.nav {
	background-color: white;
	/* position: fixed; */
	/* width: 100%; */
	margin: 0;
	padding: 1em 1em 0 0;
	/* height: 3em; 
	border-bottom: 1px solid gray; */
	/* text-align: right; */
}


.nav div div {
	display: inline-block;
	height: 100%;
	min-width: 35px;

	padding: 0;
	
	text-align: right;
	font-size: 1.25em;
}

#nav-selected {
	color: #FFBD36;
	text-decoration: none;
	border-bottom: 1px solid #FFBD36;
}

.nav div div a:link {
	color: black;
    text-decoration: none;
}

.nav div div a:visited {
	color: black;
    text-decoration: none;
}

.nav div div a:hover {
	color: black;
	border-bottom: 1px solid black;
}

.nav div div a:active {
    text-decoration: none;
}

.voices-recent {
	border: 1em solid #e5e5e5;
	border-radius: 7px;
}

.voices-recent-blurb {
	padding: 1em;
}

.voices-archive-title {
	height: 1em;
	border-bottom: 2px solid black;
}

.archive-title-words {
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	margin-left: -0.5em;
	margin-bottom: 1em;
}
.voices-recent-h1 {
	color: #FFBD36;
	font-size: 1.25em;
	margin: 0.5em 0 0.5em 0;
}

#voices-recent-link {
	color: #FFBD36;
}

.voices-recent-black-background {
	background-color: #333333;
	color: white;
}

.voices-blurb-date {
	background-color: #FFBD36;
	color: white;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
}

.voices-blurb-date-line1 {
	font-size: 1em;
}

.voices-blurb-date-line2 {
	font-size: 1.5em;
	font-weight: bolder;
}

.voices-blurb-image {
	border: 1px solid black;
	width: 100%;
	height: 17em;
}

.voices-blurb-head {
	font-size: 1.5em;
	font-weight: bolder;
}

.voices-blurb-subhead {
	font-size: 1.25em;
	margin-bottom: 1em;
}

.voices-blurb-body {

}

.voices-blurb-readmore {
	color: #FFBD36;
}

.voices-toc-title {
	text-align: center;
	font-size: 1.25em;
	padding: 1em 2em 1em 2em;
}
