/* Prefix: voices-audience-about- */

.voices-audience-about-site-container {
	padding: 75px 10px 10px 25px;
	padding-top: 75px;
	background-color: white;
	border: 2px solid #D8D8D8;

	text-align: left;
}

	.voices-audience-about-the-issue {
		color: #FFBD36;
		font-family: avenir;
		font-size: 30px;
		width: 100%;
		border-bottom: 3px solid #eeb42b;
		font-weight: 600;
	}

	.voices-audience-about-the-issue-text {
		padding: 10px 75px 75px 350px;
	}

.voices-audience-about-footer-placeholder {
	height: 100px;
}