/* Prefix with voices-admin-media */

html, body {
	width: 100%;
}

.voices-admin-media-header {
	padding: 30px;
}

.voices-admin-media-image-container {
	/* border: 1px solid gray; */
	border-radius: 5px;
	text-align: center;
}

#voices-admin-media-modal-content {
	text-align: center;
}

	.voices-admin-media-image {
		width: 300px;
	}