extends ../../template

block head
	link(rel='stylesheet' href='/css/audience/site_container.css')
	link(rel='stylesheet' href='/css/audience/nav_bar.css')
	block header

block content
	.voices-audience-site-container-outside
		.voices-audience-site-container-background-image-container
		.voices-audience-site-container-inside
			include nav_bar
			block contenter