/* Prefix: voices-audience-blog- */

.voices-audience-blog-row-1 {
	margin: 5px 0 5px 0;
	/*background-color: white;*/
	width: 100%;
	display: inline-block;
	text-align: left;
}

	.voices-audience-blog-row-1-recent {
		background-color: #F8F8F8;
		border: 2px solid #D8D8D8;

		padding: 75px 25px 50px 40px;
		width: 655px;
		display: inline-block;
	}

	.voices-audience-blog-row-1-note {
		background-color: #F8F8F8;
		border: 2px solid #D8D8D8;

		display: inline-block;
		float: right;
	}

.voices-audience-blog-row-2 {
	text-align: left;
	margin-top: 5px;
}

	.voices-audience-blog-row-2-archive {
		background-color: #F8F8F8;
		border: 2px solid #D8D8D8;
		padding: 14px 49px 30px 16px;
		float: left;

		width: 655px;
	}

	.voices-audience-blog-row-2-toc {
		background-color: #F8F8F8;
		border: 2px solid #D8D8D8;

		width: 225px;
		float: right;
	}

.voices-audience-blog-row-3 {
	margin-top: 5px;
	height: 200px
}
	.voices-audience-blog-row-3-footer {

	}