/* Prefix: voices-audience-blog-recent- */

.voices-audience-blog-recent-container {
	text-align: left;
	display: inline-block;
}

	.voices-audience-blog-recent-image-container {
		width: 473px;
		height: 100%;

		display: inline-block;
	}
		#voices-audience-blog-recent-image {
			position: relative;
			width: 473px;
			height: 361px;
			top: 6px;
			display: inline;
		}

	.voices-audience-blog-recent-sneakpeak-container {
		display: inline-block;
		position: relative;
		width: 180px;

		background-color: black;
		color: white;
	}
		.voices-audience-blog-recent-sneakpeak-date {
			text-align: center;
			font-size: 1.25em;
			background-color: #FFBD36;
			height: 2em;
			line-height: 2.25em;
			overflow: hidden;
		}

		.voices-audience-blog-recent-sneakpeak-title {
			color: #FFBD36;
			padding: 10px 0 0 10px;
			font-weight: 400;
			font-size: 1.5em;

			height: 3em;
			overflow: hidden;
		}

		.voices-audience-blog-recent-sneakpeak-location {
			color: #FFBD36;
			padding: 10px 0 0 10px;
			font-weight: 400;

			height: 2em;
			overflow: hidden;
		}

		.voices-audience-blog-recent-sneakpeak-description {
			padding: 10px 7px 0 10px;
			opacity: 0.9;
			font-size: 1em;
			font-family: 'Crimson Text', serif;
			height: 154px;
		}

		.voices-audience-blog-recent-sneakpeak-readmore {
			padding: 10px 0 0 10px;
			color: #FFBD36;
			height: 23px;
		}
			a:link {
				color: #FFBD36;
				text-decoration: none;
			}

			a:visited {
				color: #FFBD36;
				text-decoration: none;
			}

			a:hover {
				color: #FFBD36;
				text-decoration: underline;
			}

			 a:active {
				color: #FFBD36;
				text-decoration: none;
			}