/*Prefix: voices-audience-blog-toc- */


.voices-audience-blog-toc-container {
	text-align: center;
	padding: 10px;
}

	.voices-audience-blog-toc-title {
		font-size: 1.25em;
		margin-bottom: 10px;
	}

	.voices-audience-blog-toc-entry-date {
		margin-bottom: 10px;
		width: 65px;
		vertical-align: top;
		text-align: left;
	}

	.voices-audience-blog-toc-entry-title {
		text-align: left;
	}

	.voices-audience-blog-toc-placeholder {
		height: 25px;
	}