.row.voices-recent
	.col-xs-6.col-sm-6.col-md-8
		img.img-responsive(src='' alt='')
	.col-xs-6.col-sm-6.col-md-4.voices-recent-black-background.voices-recent-blurb
		.voices-recent-h1 JULY 24
		.voices-recent-h1 Insert
		div Blurb is super awesome and full of interesting info Blurb is super awesome and full of interesting info Blurb is super awesome and full of interesting info
		.voices-recent-h1
			a#voices-recent-link(href='') READ FULL POST >