extends ../site_container

block header
	link(rel='stylesheet' href='/css/audience/about/about.css')

block contenter
	.voices-audience-about-site-container
		.row
			.voices-audience-about-the-issue WHAT I’M DOING IN GHANA
		.row
			.voices-audience-about-the-issue-text
				p
					b I’m traveling to Ghana to work with the Ghanaian Department of Social Welfare 
					| (DSW) in facilitating the transition of children from orphanages into families. The DSW partners with a non-profit called Kaeme to carry out its objectives. As a Kaeme intern, I’ll be working on a team of ten Kaeme interns, five trained social workers, and a few regional government heads. We will collect vital personal information on each child at the orphanages we visit and use that to build a comprehensive profile database. This database will be used by the DSW to craft individual placement plans so that each child can hopefully one day grow up in a family of their own. 
				p
					b In addition to my work with Kaeme, I will also be working on an independent project: an audio documentary 
					| on Ghana’s efforts to transition away from orphanages and towards family-based care. This piece will feature the voices of people at the forefront of this effort: social workers, community leaders, government officials, families, etc. By offering narratives from deep within this movement, my hope is that this audio documentary will challenge us to more critically assess how we choose to make a difference in the world around us. 
				p
					| This documentary is part of a grant I received from the Stanford Storytelling Project. The final piece will be broadcast on Stanford Public Radio (KZSU) and will be available online at the Stanford Storytelling archives. Check back here this upcoming fall for a link to the final piece!
