extends ../site_container

block header
	link(rel='stylesheet' href='/css/audience/about/about.css')

block contenter
	.voices-audience-about-site-container
		.row
			.voices-audience-about-the-issue THE ISSUE
		.row
			.voices-audience-about-the-issue-text
				p I’m working with an organization called Kaeme, which works to reform the way orphaned and abandoned children are cared for. Many children currently end up in orphanages. Overcrowded, under-resourced, and plagued by corruption and abuse, orphanages are detrimental to a child’s development. Once in the system, it is difficult to leave. As a result, families who may be willing to take them in—surviving family members, relatives, foster parents, new families—are passed over. Kaeme partners with local Ghanaians to ensure children are able to leave these institutions and grow up in real families. 
				p In addition to my work with Kaeme, I will also be creating an audio documentary on orphan care reform efforts. This is part of a grant I received through the Stanford Storytelling Project. The final piece will be broadcast on Stanford Public Radio (KZSU). Check back here in the fall for a link to the final piece!
		.row
			.voices-audience-about-the-issue WORKING WITH KAEME
		.row
			.voices-audience-about-the-issue-text
				p I will be traveling with an organization called Kaeme, which means "remember me" in the Ghanaian language of Twi. Kaeme works in partnership with the Ghanaian Department of Social Welfare to reform the way orphaned and abandoned children are cared for. Out Kaeme team--comprised of 11 students, a team of Ghanaian social workers, and several Ghanaian government officials--will spend seven weeks canvassing orphanages in the Brong-Ahafo region of Ghana (the dark green central region). We will conduct interviews with each child to collect vital information. These individual profiles will be entered into a database, which will be leveraged to facilitate the reunification and placement of these children with families in the future.
		.row
			.voices-audience-about-the-issue THE AUDIO DOCUMENTARY
		.row
			.voices-audience-about-the-issue-text
				p This project will gather the voices of the individuals leading Ghana's fight for orphan care reform. These viewpoints are critical to be heard--and heard widely--because they dispel the harmful misconception that buildling and filling an orphanage is a compassionate form of charity.
				p The alluring simplicity of funding orphanages ignores the fact that many orphanages in Ghana systematically take advantage of donations--and children--to generate a profit.
				p Though a few accredited institutions exist, the vast majority are unregulated and illegal. These orphanages have an incentive to exploit the children, keep kids in destitute conditions to attract more money from sympathetic donors.
				p Already, there has been a growing international outcry against orphanages, a call to become more aware of the repercussions of our actions. I hope to contribute to propelling this conversation forward. This audio documentary will offer narratives from deep within the fight for orphan care reform, challenging us to critically assess how we choose to make a difference.