extends ../../template

input(type='text' ng-model='title')
input(type='text' ng-model='description')
input(type='text' ng-model='text')
input(type='text' ng-model='tags')
input(type='text' ng-model='location')
