extends ../../template

block head
	title Admin: Media Upload
	include admin_header
	link(rel='stylesheet' href='/css/admin/media.css')

block content
	.container
		.col-xs-3
		.col-xs-6
			h1 Media Upload
			.form-group.well#voices-admin-media-container
				input#voices-admin-media-num-images(type='hidden' value=num_images)
				input#voices-admin-media-post-id(type='hidden' value=post._id)
		.col-xs-3

	script(src="https://sdk.amazonaws.com/js/aws-sdk-2.0.5.min.js")
	script(src='/js/admin/media/AWSUploader.js')
	script(src='/js/admin/media/ImageCropper.js')
	script(src='/js/admin/media/PreviewHandler.js')
	script(src='/js/admin/media/Queue.js')
	script(src='/js/admin/media/Uploader.js')
	script.
		var $container = $('#voices-admin-media-container')
		var num_images = $('#voices-admin-media-num-images').val()
		var post_id = $('#voices-admin-media-post-id').val()

		var queue = Queue()
		var aws = AWSUploader('voices-from-ghana', 'AKIAJGSNN2L5MQLAT2MA', 'u12av9CFJSYOf9VYqQ9DnzYMjHe8ZqQVPyr66mWl', 'https://s3-us-west-2.amazonaws.com/voices-from-ghana/')
		var previewer = PreviewHandler()

		var post
		$.ajax({

			url: '/admin/blog/get/json/' + post_id,
			dataType: 'json'

		}).success(function(data, textStatus, jqXHR) {

			console.log('Success!')
			console.log(data)

			post = data

			for(var m = 0; m < num_images; m++) {
				var uploader = Uploader($container, 'image', '<p class="help-block">Select image #' + (m+1) + '. This was your story: </p><p>' + post.info.text + "</p>", aws, post_id)
				queue.append(uploader)
			}

			var every_callback = function(image) {
				previewer.register_image(image)
			}

			var complete_callback = function() {
				previewer.run($container[0], function(container_, help_block_, selected_image_, selected_image_index_) {
					var $container = $(container_),
						$help_block = $(help_block_)
						$selected_image = $(selected_image_)

					$selected_image.show()
							.width('100%')
							.appendTo($container)
					$help_block.html('Crop the image for the most recent preview display.')

					// Handlers
					var cropper = ImageCropper()
					var most_recent_ratio = 0.7632,
						archive_ratio = 0.7486,
						post_url = '/admin/blog/addImagePreviewPOST/' + post_id


					var $save_btn_container = $('<div></div>').appendTo($container)

					most_recent_crop_handler = function(dimensions) {
						// data to be sent to the backend
						var data = {
							selected_image_url: $selected_image.attr('src'),
							selected_image_index : selected_image_index_,
							post_id : post_id
						}
						// Save dimension in data to send later
						data.most_recent = dimensions
						
						// Call next crop function
						var archive_crop_handler = function(dimensions) {
							// Save dimensions to data objects
							data.archive = dimensions
							// success handler
							var success_handler,
								err_handler

							// Send data to server
							var send_data = function() {
								$.ajax({
									type: 'POST',
									url: post_url,
									data: data,
									success: success_handler,
									error: err_handler
								})
							}

							success_handler = function() {
								window.location.replace('/admin/dashboard')
							}

							err_handler = function() {
								send_data()
							}

							send_data()
						}

						cropper.crop($selected_image[0], archive_ratio, $container, $save_btn_container[0], archive_crop_handler)
					}

					cropper.crop($selected_image[0], most_recent_ratio, $container, $save_btn_container[0], most_recent_crop_handler)

				})
			}

			queue.execute(every_callback, complete_callback)

		})

		