.row
	.col-xs-2.col-sm-2.col-md-2
		.voices-archive-title
	.col-xs-2.col-sm-2.col-md-2
		.archive-title-words PREVIOUS
	.col-xs-8.voices-archive-title
each entry in posts
	.row
		.col-xs-1.voices-blurb-date
			.voices-blurb-date-line1 June
			.voices-blurb-date-line2 23
		.col-xs-6
			img.voices-blurb-head Title of blog post filler text interesting stuff
		.voices-blurb-subhead
			Accra, Ghana
		.voices-blurb-body
			This is going to be a few sentences blurb about the blog post, highlighting some of the things contained within the actual post and the name of people I've interviewed
		div
			a.voices-blurb-readmore [READ MORE]
